body{
  font-family: 'Montserrat', sans-serif;
}
@font-face {
  font-family: 'Amateur-Naked';
  src: url(../font/Amateur-Naked.ttf);
}
.nobottom{
  margin-bottom: 0px !important;
}
.npad{
  padding-bottom: 0px !important;
}
.default_color{background-color: #3D8708 !important}

.default_color_text{color: #3D8708 !important}

.icon-block {
  padding: 0 15px;
}
.ptop{
  padding-top: 0px !important;
}
#index-banner {
	position: relative;
	background-image:url(../img/bgTop2.jpg); 
  background-repeat:no-repeat;
  background-position:center;
}

.text_h {
	padding: 10% 0;
	font-size: 6.0em;
	font-weight: 100;
	color:white;
}
.text_h .cd-words-wrapper{
  line-height: 178px !important;
}
/*
.brand-logo{
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
  letter-spacing: 7px;
}
*/
.brand-logo{
  font-family: 'Amateur-Naked';
  font-weight: 700;
}
.brand-logo img {
  vertical-align: middle;
}

/*header efecto*/

nav{
  background: rgba(0, 0, 0, 0.34) !important;
  box-shadow: none !important; 
  -webkit-box-shadow:none !important;
}
nav ul a {
  font-size: 1.2rem;
  color: #FFF !important;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 2px 15px;
}
nav.sticky {
  transition: all 0.4s ease;
  font-size: 24px;
  line-height: 48px;
  height: 52px;
  background: white !important;
  text-align: left;
  padding-left: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
nav.sticky ul li a{
  color: #3D8708 !important;
}
nav.sticky .brand-logo{
  color: black;
  font-size: 21px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #3D8708;}

.text_b{color: #3D8708;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
	color: #3D8708;
	font-size: 7rem;
	display: block;
}
.card-content a {color: #3D8708;}

.card-content a:hover {color: #3D8708;}

#work{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}

.pcipal-index{
  background-color: rgba(236, 236, 236, 0.58);
  border-radius: 7px;
  text-align: center;
  margin-bottom: 4%;
}
.pcipal-index .input-field label, input[type=text], input[type=password]{
  color: #5D5B5B !important;
}
.pcipal-index input[type=text], input[type=password]{
  border-bottom: 1px solid #797878;
}
.pcipal-index input[type=text]:focus, .pcipal-index input[type=password]:focus{
  border-bottom: solid 1px #558b2f !important;
  -webkit-box-shadow: 0 1px 0 0 #558b2f !important;
  -moz-box-shadow: 0 1px 0 0 #558b2f !important ;
  box-shadow: 0 1px 0 0 #558b2f !important;
}
.pcipal-index .input-field label.active{
  color: #558b2f !important;
}
.mtop{
  margin-top: 37px;
}
.titulo-index{
  padding-top: 20px;
}
.titulo-index h1{
  text-align: left;
  line-height: 65px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
}
.titulo-index h4{
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.index-banner{
  margin-top: 4%;
}
/* -------------------------------- 

xtype 

-------------------------------- */
.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 70%;
  /*bottom: auto;*/
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 85%;
  width: 1px;
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
 /* background-color: #FFF;*/
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: #3D8708 !important;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:1200; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../img/status.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
  .text_h {
    padding: 4% 0;
    font-size: 5em;
    font-weight: 100;
    color: white;
  }
}
.green-nutri{
  background-color: #3D8708 !important;
}
/*modal*/
#lean-overlay {
  z-index: 997 !important;
}
.modal{
  max-height: 100% !important;
  max-width: 40%;
  background-color: rgb(239, 239, 239);
}
.modal-content .input-field{
  padding-left: 0px;
  margin-top: 0px;
}
.modal-content .input-field input[type=email], .modal-content .input-field input[type=password]{
  background-color: white;
  color: black;
  padding-left: 96px;
  border-radius: 5px;
  height: 59px;
  box-shadow: 6px 6px 5px #888888 !important;
}
.modal-content .input-field label{
  left: 11px !important;
}
.modal-content h4{
  color: #3D8708 !important;
}









