
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/LayoutHeader&Footer.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col l9 m9 s9 home">
            <h3>Tu consumo Diario</h3>
            <div class="calendar">
                <img class="responsive-img" src="../../content/img/calendar.jpg">
            </div>
            <div class="list-food">
                <h4>Desayuno</h4>
                <ul>
                    <li><span class="alimento">Té</span><span>cantidad</span></li>
                    <li><span class="alimento">Tostadas</span><span>cantidad</span></li>
                </ul>
            </div>
            <div class="list-food">
                <h4>Almuerzo</h4>
                <ul>
                    <li><span class="alimento">Fideos</span><span>cantidad</span></li>
                    <li><span class="alimento">Salsa</span><span>cantidad</span></li>
                </ul>
            </div>
            <div class="list-food">
                <h4>Merienda</h4>
                <ul>
                    <li><span class="alimento">Té</span><span>cantidad</span></li>
                    <li><span class="alimento">Tostadas</span><span>cantidad</span></li>
                </ul>
            </div>
            <div class="list-food">
                <h4>Cena</h4>
                <ul>
                    <li><span class="alimento">Té</span><span>cantidad</span></li>
                    <li><span class="alimento">Tostadas</span><span>cantidad</span></li>
                </ul>
            </div>
            <div class="list-food">
                <h4>Aperitivos</h4>
                <ul>
                    <li><span class="alimento">Té</span><span>cantidad</span></li>
                    <li><span class="alimento">Tostadas</span><span>cantidad</span></li>
                </ul>
            </div>
        </div>
        <div class="col l3 m3 s3 menu-right">
            menu
        </div>
    </div>
</div>

